In [3]:
import os
import numpy as np
import pandas as pd

In [4]:
# 設定 data_path
dir_data = '../data/'

### 用 pd.read_csv 來讀取資料

In [5]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('print of read in data: %s % (fapp)')
app_train = pd.read_csv(f_app)

print of read in data: %s % (fapp)

### 在 Jupyter Notebook 中，可以使用 ？ 來調查函數的定義

In [6]:
# for example
?pd.read_csv

### 利用 .head() 來觀察前 5 row 的資料

In [8]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Data column names
app_train.columns.to_series().reset_index(drop=True)

0                      SK_ID_CURR
1                          TARGET
2              NAME_CONTRACT_TYPE
3                     CODE_GENDER
4                    FLAG_OWN_CAR
5                 FLAG_OWN_REALTY
6                    CNT_CHILDREN
7                AMT_INCOME_TOTAL
8                      AMT_CREDIT
9                     AMT_ANNUITY
10                AMT_GOODS_PRICE
11                NAME_TYPE_SUITE
12               NAME_INCOME_TYPE
13            NAME_EDUCATION_TYPE
14             NAME_FAMILY_STATUS
15              NAME_HOUSING_TYPE
16     REGION_POPULATION_RELATIVE
17                     DAYS_BIRTH
18                  DAYS_EMPLOYED
19              DAYS_REGISTRATION
20                DAYS_ID_PUBLISH
21                    OWN_CAR_AGE
22                     FLAG_MOBIL
23                 FLAG_EMP_PHONE
24                FLAG_WORK_PHONE
25               FLAG_CONT_MOBILE
26                     FLAG_PHONE
27                     FLAG_EMAIL
28                OCCUPATION_TYPE
29                CNT_FAM_MEMBERS
                  ...
92       DEF_30_CNT_SOCIAL_CIRCLE
93       OBS_60_CNT_SOCIAL_CIRCLE
94       DEF_60_CNT_SOCIAL_CIRCLE
95         DAYS_LAST_PHONE_CHANGE
96                FLAG_DOCUMENT_2
97                FLAG_DOCUMENT_3
98                FLAG_DOCUMENT_4
99                FLAG_DOCUMENT_5
100               FLAG_DOCUMENT_6
101               FLAG_DOCUMENT_7
102               FLAG_DOCUMENT_8
103               FLAG_DOCUMENT_9
104              FLAG_DOCUMENT_10
105              FLAG_DOCUMENT_11
106              FLAG_DOCUMENT_12
107              FLAG_DOCUMENT_13
108              FLAG_DOCUMENT_14
109              FLAG_DOCUMENT_15
110              FLAG_DOCUMENT_16
111              FLAG_DOCUMENT_17
112              FLAG_DOCUMENT_18
113              FLAG_DOCUMENT_19
114              FLAG_DOCUMENT_20
115              FLAG_DOCUMENT_21
116    AMT_REQ_CREDIT_BUREAU_HOUR
117     AMT_REQ_CREDIT_BUREAU_DAY
118    AMT_REQ_CREDIT_BUREAU_WEEK
119     AMT_REQ_CREDIT_BUREAU_MON
120     AMT_REQ_CREDIT_BUREAU_QRT
121    AMT_REQ_CREDIT_BUREAU_YEAR
Length: 122, dtype: object

In [10]:
# Data dimension
app_train.shape

(307511, 122)

In [12]:
# row-count * column-count
app_train.size

37516342

In [13]:
# True for empty DataFrame
app_train.empty

False